# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Secrets & Local Config
.env
.flaskenv
secrets.json

# Databases & Logs
*.db
*.sqlite3
*.log

# OS & IDEs
.DS_Store
.vscode/
.idea/

# Trained Models
models/
